@mixin div-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-center($juscontent: center) {
  display: flex;
  justify-content: $juscontent;
  align-items: center;
  align-self: center;
}
